$navigation-bar-mobile-size: 4.5rem;
$navigation-bar-desktop-size: 5rem;

html {
  scroll-behavior: auto !important;
}

.navigation-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $navigation-bar-mobile-size;

  display: flex;
  background: white;
  border-top: $border-width $border-style $border-color !important;
}

.content {
  @extend .container;
  overflow-y: auto;
  padding-bottom: $navigation-bar-mobile-size;
  scrollbar-width: none;
}

/** navigation bar on desktop */
@include media-breakpoint-up(sm) {
  .navigation-bar {
    top: 0;
    width: $navigation-bar-desktop-size;
    right: unset;
    height: unset;

    flex-direction: column;
    border-top: unset !important;
    border-right: $border-width $border-style $border-color !important;
  }

  .content {
    padding-left: $navigation-bar-desktop-size;
    padding-bottom: 0;
  }
}

.box {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border-radius: var(--bs-border-radius-2xl) !important;
  overflow: hidden;
  margin: 0 0 1.5rem;
}

.box-header {
  height: 4.5rem;
}

