
$theme-colors: (
  'primary': #f49700,
  'black': #444444,
  'green': #8EA604,
  'red': #DF2935,
  'grey': #666666,
  'light-grey': #CACACA,
  'white': #FFFFFF 
);

$font-family-sans-serif: 'Roboto', sans-serif;




@import "~bootstrap/scss/bootstrap";
.btn {
  color: white;
}

h1 {
  font-weight: bold;
}

.card-overlay{
  background-color: white; 
  border-radius: 1.875rem 1.875rem 0 0;
}


.card {
  background-color: #ededed;
}

.img {
  background-color: white;
  border-radius: 4em;
}

.card img {
  width: 100px;
  margin: auto;
  padding: 0.5em;
  border-radius: 0.7em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-rectangle {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2em;
}