$body-bg: #fafafa;
$input-focus-border-color: #f49700;
$input-focus-box-shadow: unset;

$theme-colors: (
  'primary': #f49700,
  'success': #28a745,
  'secondary': #ededed,
  'danger': #dc3545,
  'black': #444444,
  'green': #8EA604,
  'red': #DF2935,
  'grey': #666666,
  'light-grey': #CACACA,
  'white': #FFFFFF 
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 960px,
        xxl: 960px
);

a {
  color: unset !important;
  text-decoration: none !important;
}

@import "~bootstrap/scss/bootstrap";
@import "box";
@import "animations";

.hover-darken:hover {
  background-color: #7771;
}

.card {
  background-color: #ededed;
}

.emoijbg{
  margin-bottom: -80%;
}

.img {
  background-color: white;
  border-radius: 4em;
}

.card img {
  width: 100px;
  margin: auto;
  padding: 0.5em;
  border-radius: 0.7em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-rectangle {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2em;
}